<form [formGroup]='registerForm' (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="form-group">
        <input [class.is-invalid]='registerForm.get("username").errors
         && registerForm.get("username").touched' type="text" class="form-control" formControlName='username'
            placeholder="Username">
        <div class="invalid-feedback">Please enter your username</div>
    </div>

    <div class="form-group">
        <input [class.is-invalid]='registerForm.get("password").errors
        && registerForm.get("password").touched' type="password" class="form-control" formControlName='password'
            placeholder="Password">
        <div class="invalid-feedback">Please enter your password</div>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" formControlName='confirmPassword' placeholder="Password">
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" (click)="register()">Register</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>
<p>Form value:{{registerForm.value|json}}</p>
<p>Form value:{{registerForm.status|json}}</p>